<link rel="stylesheet" href="{{ 'contacts-information.css' | asset_url }}" media="print" onload="this.media='all'">
<script src="{{ 'contacts-information.js' | asset_url }}" defer="defer"></script>

<div class="contacts-information">
    <div class="contacts-information__container _container">
		<div class="contacts-information__wrapper">
			{% for block in section.blocks %}
				{% if block.type == 'copy_block' %}
					<div class="contacts-information__item contacts-information__copy" data-copy="{{block.settings.value}}">
						<p class="contacts-information__label">{{ block.settings.label }}</p>
						<p class="contacts-information__value">{{ block.settings.value }}</p>
						<a href="{{ block.settings.link }}" class="contacts-information__button common-button button_animated">
							<div class="button__name">
								{{ block.settings.button_text }}
							</div>
							<div class="button__icon">
								<img src="{{ block.settings.icon | img_url }}" alt="{{ block.settings.button_text }} Icon">
							</div>
						</a>
						{% render "icon-copy" %}
					</div>
				{% elsif block.type == 'info_block' %}
					<div class="contacts-information__item contacts-information__info {% if block.settings.info_inverce %} inverce{% endif %}">
						<p class="contacts-information__label">{{ block.settings.label }}</p>
						<p class="contacts-information__value">{{ block.settings.value }}</p>
					</div>
				{% endif %}
			{% endfor %}
		</div>
    </div>
	<div class="copy__label">
		{{ section.settings.copy_text }}
	</div>
</div>
{% schema %}
{
  "name": "Contacts Info",
  "settings": [
	{
		"type": "text",
		"id": "copy_text",
		"label": "Copied text label",
		"default":"Copied to clipboard..."
	}
  ],
  "blocks": [
    {
      "type": "copy_block",
      "name": "Copy Block",
      "settings": [
        {
          "type": "text",
          "id": "label",
          "label": "Label",
          "default": "Phone"
        },
        {
          "type": "text",
          "id": "value",
          "label": "Value",
          "default": "+380 96 123 45 67"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Link"
        },
        {
          "type": "text",
          "id": "button_text",
          "label": "Button Text",
          "default": "CALL"
        },
        {
          "type": "image_picker",
          "id": "icon",
          "label": "Icon"
        }
      ]
    },
    {
      "type": "info_block",
      "name": "Info Block",
      "settings": [
        {
          "type": "text",
          "id": "label",
          "label": "Label",
          "default": "Working hours"
        },
        {
          "type": "text",
          "id": "value",
          "label": "Value",
          "default": "10:00-18:00"
        },
        {
          "type": "checkbox",
          "id": "info_inverce",
          "label": "Info Inverce Color",
          "default": true,
        }
      ]
    }
  ]
}
{% endschema %}