<link rel="stylesheet" href="{{ 'chronicles.css' | asset_url }}" media="print" onload="this.media='all'">
<script src="{{ 'chrobicles-swiper.js' | asset_url }}" defer="defer"></script>

<section class="chronicles">
  <div class="chronicles__container _container">
    {% if section.settings.show_header_Blog %}
      <header class="chronicles__header">
        <h2 class="chronicles__heading">
          {{ section.settings.heading }}
        </h2>
        <a href="{{ section.settings.all_articles_link }}">
          <button class="button_articles">
            <span>{{ section.settings.all_articles_text }}</span>
            <div class="button_articles__icon">
              <img src="{{ 'arrow-white.svg' | asset_url }}" alt="">
            </div>
          </button>
        </a>
      </header>
    {% endif %}
    <div class="chronicles__swiper-outer">
      <div class="chronicles__swiper swiper">
        <div class="chronicles__swiper-wrapper swiper-wrapper chronicles__items">
          {% for article in blogs[section.settings.selected_blog].articles limit: section.settings.max_articles %}
            <div class="chronicles__swiper-slide swiper-slide">
              {% render 'article-card', article: article, show_reading_time: section.settings.show_reading_time, button_text: section.settings.button_text %}
            </div>
          {% endfor %}
        </div>
      </div>
      <div class="chronicles__swiper-button-prev slider-button chronicles__swiper-button">
        <img src="{{ 'arrow-black.svg' | asset_url }}" alt="">
        <img src="{{ 'arrow-white.svg' | asset_url }}" alt="">
      </div>
      <div class="chronicles__swiper-button-next slider-button chronicles__swiper-button">
        <img src="{{ 'arrow-black.svg' | asset_url }}" alt="">
        <img src="{{ 'arrow-white.svg' | asset_url }}" alt="">
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Blog Slider",
  "settings": [
    {
      "type": "header",
      "content": "Header Settings"
    },
    {
      "type": "checkbox",
      "id": "show_header_Blog",
      "label": "Show Header Blog",
      "default": true
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Mushroom Chronicles",
      "info": "This field is shown only if 'Show Header Blog' is enabled."
    },
    {
      "type": "url",
      "id": "all_articles_link",
      "label": "All Articles Link",
      "info": "This field is shown only if 'Show Header Blog' is enabled."
    },
    {
      "type": "text",
      "id": "all_articles_text",
      "label": "All Articles Button Text",
      "default": "All Articles",
      "info": "This field is shown only if 'Show Header Blog' is enabled."
    },
    {
      "type": "header",
      "content": "Blog Settings"
    },
    {
      "type": "blog",
      "id": "selected_blog",
      "label": "Select Blog"
    },
    {
      "type": "range",
      "id": "max_articles",
      "label": "Maximum Articles to Show",
      "default": 5,
      "min": 1,
      "max": 20
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "Button Text",
      "default": "Read"
    },
    {
      "type": "checkbox",
      "id": "show_reading_time",
      "label": "Show Reading Time",
      "default": true
    }
  ],
  "presets": [
    {
      "name": "Blog Slider"
    }
  ]
}
{% endschema %}